@font-face {
  font-family: "Nunito";
  src: url("../fonts/nunito-v8-latin-200.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/nunito-v8-latin-200.eot?#iefix") format("embedded-opentype"), url("../fonts/nunito-v8-latin-200.woff2") format("woff2"), url("../fonts/nunito-v8-latin-200.woff") format("woff"), url("../fonts/nunito-v8-latin-200.ttf") format("truetype"), url("../fonts/nunito-v8-latin-200.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 200; }

  @font-face {
    font-family: 'Poppins';
    src:url('Poppins.ttf.woff') format('woff'),
        url('Poppins.ttf.svg#Poppins') format('svg'),
        url('Poppins.ttf.eot'),
        url('Poppins.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}




/* >1024px -> desktops très larges */
@media screen and (min-width: 1024px) {


  header{
    z-index: 3;
  }

/* Partie de gauche */
  .element1 {
    background-color: black;
    display: inline-block;
    position: absolute;
    z-index: -1;
    top:0%;
    left: 0%;
    width:40.05%;
    height: 80.97%;
  }

  h1 {
    font-family: 'Poppins' ;
    color: white ;
    font-weight: normal;
    position: absolute;
    top: 20%;
    right:15%;
    font-size: 75pt;
    line-height: 1em;
  }

  .MassImpressions {
    font-family: 'Nunito' ;
    position: absolute;
    top: 55%;
    left:32%;
    color: white ;
    font-size: 15pt ;
  }



  .BandeBlanche {
    height: 7px;
    width: 68px;
    background-color: white ;
    position: absolute;
    top: 47%;
    right:38%;
  }

/* Partie centrale */

  .element2 {
    display: inline-block;
    position: absolute;
    z-index: -1;
    top:0%;
    left: 40.05%;
    width: 47.45% ;
    height: 80.97%;
  }

  #conteneurCentral {
    display: flex;
    margin-top: 26%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
  }

  .paragraphe1 {
    font-family: 'Poppins' ;
    color: rgb(26, 26, 29) ;
    font-size: 1.5em ;
  }

  .W {
    font-size: 3em ;
    float: left;
    margin-right: 30px;
    margin-top: -13px;
}

  .paragraphes2 {
    font-family: 'Nunito' ;
    line-height: 27px;
    color: rgb(119,119,126) ;
    font-size: 0.8em ;
  }

.img_flottantes {
  float: left;
  margin-top: 7px;
  margin-right: 30px;
  margin-bottom: 30px;
}

/* Partie Gauche */

  .element3 {
    background-color: #BFD9D9 ;
    display: inline-block;
    position: absolute;
    top: 22.54%;
    right: 0%;
    z-index: -1;
    width: 12.5%;
    height: 37.64%;
  }



  /* Menu de Navigation */
  .nav {
      position: absolute;
  }

  ul {
      font-family: 'Nunito' ;
      font-size: 0.875em ;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
  }

  li {
      float: left;
  }

  li a {
      display: block;
      color: white;
      text-align: bottom;
      padding: 67px 30px;
      text-decoration: none;
  }

  li a:hover {
      text-decoration-line: white ;
  }

  .Logo_MiTalent {
    position: absolute ;
    right: 44.2%;
  }

  .Logo_loupe {
    position: absolute;
    right : 3% ;
    padding: 67px 30px;
  }
}

/* >768px AND <1024px -> tablettes + iPads paysage + grandes tablettes */
@media screen and (min-width: 768px) and (max-width:1024px) {

}

/* >768px -> grandes tablettes + desktop */
@media screen and (min-width: 768px) {

}

/* <768px -> smart-phones les plus modernes + iPads portrait */
@media screen and (max-width: 768px) {

}

/* <480px -> smart-phones premières générations */
@media screen and (max-width: 480px) {

}

/* <320px -> basses résolutions */
@media screen and (max-width: 320px) {

}
